.features {
  display: flex;

  &-item {
    &:not(:last-child) {
      margin-right: 30px;
      display: inline-block;
    }
  }
  &-title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
  }
  &-content {
    display: flex;
    color: $primary-text-color;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.icon-features {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
  fill: $primary-text-color;
  background-color: $third-bg-color;
}
